{% extends 'admin/index.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <section id="header" class="jumbotron jumbotron-fluid text-center">
        <img src="{{ asset('images/logo/TerrePlurielle.png') }}" class="d-inline-block align-top" alt="">
    </section>

    <section class="container admin">
        <div class="title-content">
            <h1>Gestion utilsateurs</h1>
            <hr>
        </div>

        <article class="container-content user">
            <div class="add">
            {{ knp_pagination_render(users)}}
                <a class="action" href="{{ path('admin_user_new') }}"><i class="fas fa-plus-square"></i> créer</a>
            </div>
           
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

            <div class="table-responsive">
                <table class="table table-hover table-striped text-center">
                    <thead>
                        <tr>
                            <td>Nom</td>
                            <td>Prenom</td>
                            <td>Email</td>
                            <td>Actions</td>
                        </tr>
                    </thead>

                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.surname }}</td>
                            <td>{{ user.firstName }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                <a id="edit" class="action" href="{{ path('admin_user_edit',{id: user.id}) }}"><i class="far fa-edit"></i></a>
                                <form method="post" action="{{ path('admin_user_delete',{id: user.id}) }}" style="display:inline-block"
                                onsubmit="return confirm('Êtes vous vraiment sûr de vouloir supprimer cette utilisateur ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~ user.id )}}">  
                                    <button id="delete" class="action"><i class="far fa-trash-alt"></i></button>
                                </form>
                            <td>
                        </tr>
                    {% endfor %}   
                    </tbody>
                </table>
            </div>
        </article>

    </section>
{% endblock %}