{% extends 'admin/index.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}

    <section id="header" class="jumbotron jumbotron-fluid text-center">
        <img src="{{ asset('images/logo/TerrePlurielle.png') }}" class="d-inline-block align-top" alt="">
    </section>

    <section class="container admin add-user">

        <div class="title-content">
            <h1>Ajouter un utilsateurs</h1>
            <hr>
        </div>

        <article class="container-content edit">

            {{ form_start(form)}}
                {{form_rest(form)}}
                <div class="navbot-admin">
                    <button class="btn" type="submit">créer</button>
                    <a class="btn" href="{{ path('admin_user')}}">retour</a>
                </div>
            {{ form_end(form) }}
     
    </section>
{% endblock %}