{% extends 'base.html.twig' %}

{% block title %}Editer Profile{% endblock %}
{% block body %}

    <section id="header" class="jumbotron jumbotron-fluid text-center">
        <img src="{{ asset('images/logo/TerrePlurielle.png') }}" class="d-inline-block align-top" alt="">
    </section>

    <section class="container app edit-account">

        <div class="container-content">
        
            {{ form_start(form) }}
              
            {{ form_rest(form)}}
                <div class="btn-secu">
                    <button class="btn btn-md" type="submit">Modifier</button>
                    <a class="btn btn-md" href="{{ path('app_account') }}">Retour</a>
                </div>
            {{ form_end(form) }}
    
        </div>

    </section>



{% endblock %}
