{% extends 'security/index.html.twig' %}
{% block body %}
    <section id="header" class="jumbotron jumbotron-fluid text-center">
        <img src="{{ asset('images/logo/TerrePlurielle.png') }}" class="d-inline-block align-top" alt="">
    </section>
    
    <section class="container connexion">
        <div class="form-signin">        
            {{ form_start(form) }}

            {{ form_row(form.password, { 'label': 'Nouveau mot de passe' }) }}

            {{ form_row(form.confirm_password, { 'label': 'Confirmation du mot de passe' }) }}

                <button class="btn btn-md btn-dark btn_block" type="submit">valider</button>


            {{ form_end(form) }}
        </div>

    </section>

{% endblock %}