{% extends 'security/index.html.twig' %}
{% block body %}
    <section id="header" class="jumbotron jumbotron-fluid text-center">
        <img src="{{ asset('images/logo/TerrePlurielle.png') }}" class="d-inline-block align-top" alt="">
    </section>


   <section class="container connexion">

        <div class="form-signin">
           <div class="title-content">
                <h1>Inscription</h1>
                <hr>
            </div>
            {{ form_start(registrationForm) }}
            {{ form_rest(registrationForm)}}
            <div class="btn-secu">
                <button class="btn btn-md" type="submit">Valider</button>
                <a class="btn btn-md" href="{{ path('app_login') }}">Retour</a>
            </div>
            {{ form_end(registrationForm) }}
        </div>


    </section>
{% endblock %}