{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    <link rel="stylesheet" href="{{asset('css/spectrogram.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{% endblock %}
{% block body %}
    <section id="header" class="jumbotron jumbotron-fluid text-center">
        <img src="{{ asset('images/logo/TerrePlurielle.png') }}" class="d-inline-block align-top" alt="">
    </section>

    <section class="container admin">

        <div class="title-content">
            <h1>Interface d'administration</h1>
            <hr>
        </div>

        <article class="container-content">

            <div class="nav-gestion">
                <a class="btn" href="{{ path('admin_user') }}"><p>Utilisateurs</p></a>
                <a class="btn" href="{{ path('admin_list_users') }}"><p>Spectrogramme</p></a>
                <a class="btn" href="{{ path('admin_picto') }}"><p>Pictogrammes</p></a>
                <a class="btn" href="{{ path('admin_categorie') }}"><p>Catégories</p></a>
            </div>

        </article>

    </section>
{% endblock %}


