{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/echange.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{% endblock %}

{% block body %}


    <div class="body-content container-fluid">

            <!--Carousel catégorie-->  
            <div class="carousel">
                <button class="btn" id="btn-backward-categorie"><i class="fas fa-chevron-left fa-2x"></i></button>
                <div id="carousel-categorie" class="scroll-img">
                    <ul id="listcategorie">
                        
                    </ul>
                </div>
                <button class="btn" id="btn-forward-categorie"><i class="fas fa-chevron-right fa-2x"></i></button>
            </div>          
            
            <div class="carousel">
                <button class="btn" id="btn-backward-picto"><i class="fas fa-chevron-left fa-2x"></i></button>
                <div id="carousel-picto" class="scroll-img">
                    <ul id="listpicto">
                        
                    </ul>
                </div>
                <button class="btn" id="btn-forward-picto"><i class="fas fa-chevron-right fa-2x"></i></button>
            </div>
            
            <div id="carousel-drop" class="carousel">
                <ul class="liste-drop">
                    <li id="mot1" class="drop"></li>
                    <li id="mot2" class="drop"></li>
                    <li id="mot3" class="drop"></li>
                    <li id="mot4" class="drop"></li>
                    <li id="mot5" class="drop"></li>
                    <li id="mot6" class="drop"></li>
                </ul>
            </div>
    
            <div class="block-bottom">
                <p id="phrase"></p>
            </div>

            <div class="block-bottom">
                <div id="remote">
                    <div class="remote" id="refresh"><i class="fas fa-sync-alt fa-2x"></i></div>
                    <div class="remote" id="lecture"> <i class="fas fa-play fa-2x"></i></div>
                    <div class="remote" id="lectureMot"><i class="fas fa-step-forward  fa-2x"></i></div>
                    <div class="remote"><i class="fas fa-microphone fa-2x" id="record"></i></div>
                </div>
            </div>
                
    </div>          



{% endblock %}

{% block javascripts %}
   {{parent()}}
    <script type="text/javascript"  src="https://code.jquery.com/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="{{ asset('js/jquery.scrollbox.js') }}"></script>
    <script src="{{ asset('js/jquery.ui.touch-punch.js') }}"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
    <script src="{{ asset('js/scrollbox.js') }}"></script>
    <script src="{{ asset('js/dragAndDrop.js') }}"></script>
    <script src="{{ asset('js/audio/recorder.js') }}"></script>
    <script src="{{ asset('js/audio/Fr.voice.js') }}"></script>
    <script src="{{ asset('js/audio/app_record.js') }}"></script>

</script>

{% endblock %}